.cloud-storage {
  display: flex;
  align-self: center;
  width: 100%;

  aside {
    flex-basis: 130px;

    div {
      margin-bottom: 10px;
      padding: 6px 5px;
      border: 1px solid transparent;
      cursor: pointer;

      &.focus {
        border-color: blue;
      }

      &.disable {
        opacity: 0.4;
        user-select: none;
      }

      &:nth-child(2n) {
        background: #fff;
      }

      img {
        width: 22px;
        border-radius: 10%;
      }

      span {
        padding-left: 10px;
      }
    }
  }

  main {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .auth {

      p {
        font-weight: 200;
      }
    }
  }

  @media (max-width: 600px) {
    margin: 0 auto;

    aside {
      flex-basis: 35px;
      padding-right: 10px;

      div {

        span {
          display: none;
        }
      }
    }
  }
}
