@import url('https://at.alicdn.com/t/font_736321_zd60ffkgo2p.css');

.iconfont {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.vov {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;

  .picture-list > div {
    max-height: 60%;
    height: unset !important;
    overflow: hidden;
  }

  .LazyLoad {
    height: unset !important;
  }

  .picture-list > div img {
    width: unset !important;
    height: unset !important;
    max-width: 100%;
    max-height: 100%;
    object-fit: unset !important;
  }

  b, strong {
    font-weight: bold;
  }
}
