$navbar_color: rgb(35, 35, 35);
$background_dark: rgb(18, 18, 18);

$white_color: #fff;

#app .app.dark {

  .ant-switch {
    background-color: rgba(189, 168, 168, 0.25);
  }

  > header {
    background: $navbar_color;
  }

  .ant-upload.ant-upload-drag {
    background: $background_dark;
  }

  > header {
    border-bottom: 1px solid rgba(0, 0, 0, .8);
    
    .logo {

      a {
        color: $white_color;
      }
    }

    .theme-button {
      border-color: rgba(255, 255, 255, .3);
    }
  }

  > main {
    background: $background_dark;
  }

  > main {

    .cloud-storage {
      color: $white_color;

      aside {

        div {

          &.focus {
            border-color: $white_color;
          }

          &:nth-child(2n) {
            background: rgba(33, 32, 32, 0.8);
          }

          span {
            color: $white_color;
          }
        }
      }

      main {

        .auth p {
          color: #ccc;          
        }
      }

      .cloud-storage-form .ant-form-item-label label {
        color: $white_color;
      }
    }

    > aside > div:nth-of-type(2n+1) {
      background: #212124 !important;
    }
  }

  .ant-menu-horizontal {
    border-bottom: none;
  }

  .ant-upload.ant-upload-drag p.ant-upload-text, .theme-button {
    color: #f1f8fd;
  }

  .ant-menu-horizontal > .ant-menu-item > a {
    color: #d6d6d6;
  }

  .ant-upload.ant-upload-drag p.ant-upload-hint {
    color: #d6d6d6;
  }

  .picture-list {

    > div {
      background: #171515;
      box-shadow: 0 5px 30px rgba(255, 255, 255, .1);

      @media (max-width: 600px) {
        box-shadow: 0 5px 30px rgba(255, 255, 255, .2);
      }
    }
  }

  + div {

    .ant-message-notice-content {
      background: $navbar_color;
      color: #d6d6d6;
    }
  }

  .alert {
    background-color: #292525;
  }

  .legend > aside *, .user-info > p, .setting-table > div > div {
    color: $white_color;
  }

  .records > p.empty {
    color: #ffc8c8;
  }
}
